/*region Global*/
/*.btn-common:active { box-shadow: none }*/
.btn-common:active, .btn-primary:active { background-color: #6c32aa !important }
.btn-primary:focus, .btn-common:focus { box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.15) !important }
.btn-common.color-6:hover { background-color: #b3527c !important }
.btn-common.color-6:active { background-color: #6b314a !important }
/*.text-purple, .btn.text-purple:hover { color: #8546c9 }*/
.disabled {
  color: currentColor;
  cursor: not-allowed;
  text-decoration: none;
  box-shadow: none;
}
.disabled.btn:hover { box-shadow: none }

.tooltip-inner { max-width: 450px; opacity: .9 }

.box { margin-bottom: 30px }

.search-bar fieldset { float: none }

.post-add-responsive { display: none }

.hidden { display: none !important}
/*region Forms*/
input + a { transform: translateY(-5px) }
/*Placeholder more significant*/
input::placeholder, textarea::placeholder { opacity: .45 !important; }
/*.form-control:invalid + i { top: 25% }*/

.custom-control-label {
  cursor: pointer;
  margin-bottom: 5px;
  color: #797979
}
.custom-select:focus {
  border-color: #8546c9;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(133, 70, 201, .5)
}

.invalid-feedback { font-size: 100%; }
/*endregion Forms*/
/*endregion Global*/

/*region Navbar*/
/*Correction for the logo in the navbar*/
#nav-member { cursor: default }

.postadd { margin-left: .5rem }

.navbar-brand {
  max-height: 50px;
  display: block
}
/*Adjust the icon's position in the navbar*/
.nav-link > .fa { transform: translateY(-.1rem) }
/*3 lasts elements in the navbar closer*/
.navbar-nav .nav-item:nth-last-child(-n+4) > a {
  padding-left: .2rem !important;
  padding-right: .2rem !important
}
/*endregion*/

/*region Carousel*/
#new-products img {
  height: 100%;
  object-fit: contain;
}
/*endregion*/

/*region Advert*/
.item-list.make-grid { height: auto }

.photo-advert {
  height: 128px;
  width: 100%;
  object-fit: cover;
}
.photo-account-advert {
  width: 100%;
  max-height: 50%;
  object-fit: contain;
}

.flex-advert {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between !important;
  margin-right: -15px;
  margin-left: -15px
}

.info {
  display: block;
  clear: both;
  font-size: 12px;
  color: #888;
}

/*region Advert details*/
.ads-details-wrapper .price {
  position: absolute;
  top: 125px;
  left: 5px;
  /*background-image: linear-gradient(25deg, #221f79, #4a2a96, #6f35b4, #9340d3);*/
  background-image: radial-gradient(circle at top right, #8e4162, #8c3f66, #893c6b, #853b70, #803a75, #7d3979, #79387e, #753882, #723687, #6e358c, #693491, #633496);
  padding: 10px 25px;
  font-size: 20px;
  color: #fff;
  font-weight: 500
}

/*region Agent inner*/
.agent-inner .agent-title { margin-bottom: 20px }
.agent-inner .agent-title .agent-details span { color: #888 }
.agent-inner .agent-title .agent-details span i { margin-right: 5px }
.agent-inner .form-control { margin-bottom: 20px }
/*endregion Agent inner*/
/*endregion Advert details*/
/*endregion Advert*/

@media (min-width: 1024px) {
  #all-adverts, #all-categories { display: none }
}

@media (max-width: 1023px) {
  .hidden-responsive { display: none }

  .post-add-responsive {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #e43748;
    border-radius: 50%;
    box-shadow: 0 2px 6px 0 #666;
    transition: all 0.3s ease-in-out;

    font-size: 40px;
    color: white;
    text-align: center;
    line-height: 38px;

    position: fixed;
    left: 14px;
    bottom: 18px
  }
  .post-add-responsive:hover {
    box-shadow: 0 6px 14px 0 #666;
    background-color: #ff3a52
  }
}

@media (max-width: 1024px) and (min-width: 480px) {
  .item-list.make-grid { width: 49% }
}

@media (min-width: 480px) {
  .item-list.make-grid { margin-right: inherit }

  .adds-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between
  }
}

@media (max-width: 480px) {
  .search-bar .form-group .tg-select select { height: inherit }
}

