a:hover, a:focus{
  color: #8546c9;
}
.btn-common{
  background-color: #8546c9;
}
.btn-border{
  border-color: #8546c9;
  color: #8546c9;
}
.btn-border-filled{
  color: #8546c9;
}
.btn-common, .btn-primary{
  background: #8546c9;
}
.btn-common:hover, .btn-primary:hover{
  background: #9f5fe4;
}
.text-common{
  color: #8546c9;
}
.back-to-top i{
  background-color: #8546c9;
}
#color-style-switcher .bottom a i{
  color: #8546c9;
}
.form-control:focus{
  border-color: #8546c9;
}
.top-nav-collapse .navbar-nav .nav-link:hover{
  color: #8546c9!important;
}
.navbar-expand-lg .navbar-nav .active > .nav-link, .navbar-expand-lg .navbar-nav .nav-link.active, .navbar-expand-lg .navbar-nav .nav-link.open, .navbar-expand-lg .navbar-nav .open > .nav-link{
  color: #8546c9!important;
}
.navbar-expand-lg .navbar-nav .nav-link:hover, .navbar-expand-lg .navbar-nav .nav-link:hover::before, .navbar-expand-lg .navbar-nav .nav-link:focus{
  color: #8546c9;
}
.navbar-expand-lg .navbar-nav li a:hover, .navbar-expand-lg .navbar-nav li .active>a, .navbar-expand-lg .navbar-nav li a:focus{
  color: #8546c9;
}
.navbar li.active a.nav-link{
  color: #8546c9;
}
.top-nav-collapse .navbar-nav li.active a.nav-link{
  color: #8546c9 !important;
}
.dropdown-menu{
  border-color: #8546c9;
}
.dropdown .dropdown-item:focus, .dropdown .dropdown-item:hover, .dropdown .dropdown-item.active{
  background: #8546c9;
}
.navmenu-default .navmenu-nav > li > a:hover,
.navbar-default .navbar-offcanvas .navmenu-nav > li > a:hover,
.navmenu-default .navmenu-nav > li > a:focus,
.navbar-default .navbar-offcanvas .navmenu-nav > li > a:focus{
  color: #8546c9;
}
.section-intro .main-text .intro-title span{
  color: #8546c9;
}
.category-box .category-header:hover{
  background: #8546c9;
}
.category-box .category-content li a:hover{
  color: #8546c9;
}
#new-products .product-item .carousel-thumb:hover{
  border-color: #8546c9;
}
#new-products .product-item .carousel-thumb .overlay i{
  background: #8546c9;
}
.owl-theme .owl-controls .owl-buttons div{
  background: #8546c9 !important;
}
.features-box .features-icon i{
  color: #8546c9;
}
.title-2{
  color: #8546c9;
}
.counting:hover span{
  background: #8546c9;
}
footer .menu li a:hover{
  color: #8546c9;
}
.twitter-content span a{
  color: #8546c9;
}
.featured-list li .hover a{
  background: rgba(155, 94, 208, 0.8);
}
#copyright p a:hover{
  color: #8546c9;
}
.back-to-top i{
  background: #8546c9;
}
.tparrows.preview3{
  background: #8546c9;
}
.tparrows.preview3:after{
  background: #8546c9;
}
.tp-bullets.preview3 .bullet:hover, .tp-bullets.preview3 .bullet.selected{
  border-color: #8546c9!important;
}
.f-category:hover{
  background: #8546c9;
}
#pricing-table #active-tb{
  border-color: #8546c9;
}
#pricing-table .table .pricing-header .price-value{
  color: #8546c9;
}
#pricing-table .table:hover{
  border-color: #8546c9;
}
#pricing-table .table:hover .pricing-header{
  background: #8546c9;
}
#pricing-table #active-tb .pricing-header{
  background: #8546c9;
}
#pricing-table .table .description i{
  color: #8546c9;
}
.widget-title i{
  color: #8546c9;
}
.widget-title:before{
   border-bottom: 3px solid #8546c9;
}
.categories-list ul li a:hover{
  color: #8546c9;
}
.post-title a:hover{
  color: #8546c9;
}
.ad-detail-content blockquote{
  border-color: #8546c9;
}
.adds-wrapper .add-type{
  color: #8546c9;
}
.posting .alert-success{
  background: #8546c9;
}
.single-post blockquote{
  background: #8546c9;
}
#sidebar .tag a:hover{
  background: #8546c9;
  border-color: #8546c9;
}
.page-login-form .form-links li a:hover{
  color: #8546c9;
}
.page-login-form .form-links li a:hover{
  color: #8546c9;
}
.panel-default .panel-heading a:after{
  color: #8546c9;
}
.sidebar-box .user{
  background: #8546c9;
}
.sidebar-box .user figure{
  border-color: #8546c9;
}
.sidebar-box .navdashboard ul li a:focus,
.sidebar-box .navdashboard ul li a:hover,
.sidebar-box .navdashboard ul li a.active{
  background: #8546c9;
}
.table > thead > tr > th{
  color: #8546c9;
}
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover{
  background: #8546c9;
  border-color: #8546c9;
}
.ads-details-wrapper .owl-dots span:hover,
.ads-details-wrapper .owl-dots .active span{
  background: #8546c9!important;;
}
.owl-theme .owl-controls .active .item-link{
  border-color: #8546c9;
}
.localtion-list .cat-list li a:hover{
  color: #8546c9;
}
.owl-nav div{
  background: #8546c9!important;
}
.owl-nav div:hover{
  background: #9f5fe4!important;
}
.pagination .page-item .page-link:hover,
.pagination .page-item .active{
    background-color: #8546c9;
    border-color: #8546c9;
}
.slicknav_btn{
  background-color: #8546c9;
}
#carousel-area .carousel-indicators li:hover, #carousel-area .carousel-indicators li.active{
  background: #8546c9;
}